name: CIFuzz

on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  fuzzing:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Build Fuzzers
      id: build
      uses: google/clusterfuzzlite/actions/build_fuzzers@v1

    - name: Run Fuzzers
      id: run
      uses: google/clusterfuzzlite/actions/run_fuzzers@v1
      with:
        fuzz-seconds: 10