name: Frogbot

on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main
  workflow_dispatch:
    
permissions:
  pull-requests: write
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up JFrog
        uses: jfrog/setup-jfrog-cli@d82fe26823e1f25529250895d5673f65b02af085 # v4.0.1
        env:
          JF_ENV_1: ${{ secrets.ARTIFACTORY_DEPLOYER }}

      - name: Run XRay scan
        uses: jfrog/frogbot@139f3e3d1e286c219aa8ede9a2a2426ea2f158a3 # v2.23.4
        env:
          JF_URL: https://beyondtrust.jfrog.io
          JF_ACCESS_TOKEN: ${{ secrets.ARTIFACTORY_FROGBOT_TOKEN }}
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
