name: Go Lint and Code Complexity

on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  golint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.24.2'

      - name: Go Lint
        if: always()
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest

      - name: Check code cognitive complexity
        if: always()
        run: |
          go install github.com/uudashr/gocognit/cmd/gocognit@2881c26c90e3bb5cc9a17c60109b39f6b485ed2d # v1.2.0
          gocognit -ignore "_test|testdata" -over 10 .